body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

a { 
    text-decoration: none;
    color: white;
    font-weight: bold; }    
    
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items:center;
    padding:16px;}

foto-perfil {
    width:150px;
    height: 150px;}

.center {
    text-align: center;
}

.container {
    padding: 0px 50px;
}

nav.barra {
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 50px 50;
}

nav a:hover {
    color: rgb(255, 145, 0);
    transition: 0.3s;
}