body {
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(to top, #DB5C00, #3b1900, #000000);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    html {
    scroll-behavior: smooth;}


    a { 
    text-decoration: none;
    color: white;
    font-weight: bold; }    
    
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items:center;
    padding:16px;}

.foto-perfil {
    width:200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #FFEDD11A;}

.center {
    text-align: center;
}

.container {
    padding: 0px 50px;
}

nav.barra {
    background-color: #301300;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 50px 50;
    position: sticky;
    top: 0; 
    text-shadow: #000000;}   

nav a:hover {
    color: rgb(255, 81, 0);
    transition: 0.3s;
}

section{
    margin-top: 20px;
    margin-bottom: 150px;
}

.icone {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.iconebe {
    width: 30px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: auto;
}

.subtitulo {
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
    color: rgb(200, 200, 200);
}

projetos {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #20100048;
}

projeto {
    background-color: rgb(253, 0, 0);
    border-radius: 8px;
    padding: 10px;

}

.habilidades {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(200, 200, 200);
}

.habilidade {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffa46fa9;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 50px;
    background-color: #20100048;
    border-radius: 8px;
    border-color: #FFEDD11A;
    padding: 10px;
}

.head {
    text-align: left;
    margin-bottom: 20px;
    background-color: #2412009d;
    border-radius: 8px;
    border-color: #FFEDD11A;
    padding: 10px;
}

img {
    width: 100%;
    height: 265px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    border-color: #FFEDD11A;
    
}
.contato {
    text-align: left;
    margin-bottom: 80px;
    margin-top: 20px;
    background-color: rgba(10, 10, 10, 0.774);
    border-radius: 8px;
    padding: 2rem;
}




.form-label label {
    display: block;
    margin-top: 10px;
    margin-bottom: 7px;
    color: #ffc29ecc;
}

.campo {
    background-color: rgb(26, 26, 26);
    border-radius: 6px;
    width: 30%;
    height: 30px;
}

.botao-contato {
    background-color: rgb(255, 255, 255);
    color:  rgba(0, 0, 0, 0.774);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    display: block;
}

.botao-contato:hover {
    background-color:  rgb(255, 81, 0);
    transition: 0.3s;
}

.footer {
    text-align:left;
    padding: 4px;
    color: rgba(250, 204, 173, 0.897);
    font-size: 15px;
}